<fieldset>
  <h2>Services</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Funding Year *</label>
        <select class="form-control m-b" name="funding">
          <option>please select...</option>
          <option>2014</option>
          <option>2015</option>
        </select>
      </div>
    </div>
  </div>
</fieldset>
