---
layout: default
---

<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>News</h1>
                    <p>What's happening at E-Rate Cycle.</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
</div>

<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <section>

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <h4>{{post.subtitle}}</h4>
                    <span class="lead">{{ post.excerpt }}</span>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <a href="#portfolioModal{{ post.modal-id }}" data-toggle="modal">
                    <img class="img-responsive" src="/img/portfolio/{{ post.img }}" alt="">
                  </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->
    {% else %}

    <section class="gray-section">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <h4>{{post.subtitle}}</h4>
                    <span class="lead">{{ post.excerpt }}</span>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                  <a href="#portfolioModal{{ post.modal-id }}" data-toggle="modal">
                    <img class="img-responsive" src="/img/portfolio/{{ post.img }}" alt="">
                  </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
