---
layout: default
---

<div data-page="home"/>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Getting Started With The E-rate Process</h1>
                    <p>(Audit, Technology Roadmap, and Form 470)</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
</div>
{% include form-470.html %}
{% include erate-tools.html %}
