---
layout: default
---

<div data-page="home"/>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Simplify and automate Form 471</h1>
                    <p>(evaluation and selection)</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
</div>
{% include form-471.html %}
{% include from-470-to-471.html %}
