---
layout: default
---

<div data-page="home"/>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>The smarter &amp; faster way to</br>
                    manage the E-Rate process</h1>
                    <p>Gain control, save money and speed the process</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="/img/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
    </div>
</div>

{% include features.html %}
{% include pricing.html %}
{% include features-3.html %}
{% include testimonials.html %}
