---
layout: default
---

<div data-page="home"/>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ERATECycle addresses the needs of</br>
                      E-RATE program participants</h1>
                    <p>Understand, utilize, &amp; maintain compliance with rules, regulations, and filings</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="/survey" role="button">Take Survey</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="/img/laptop.png" alt="Complete Form 470, Form 471, ERATE Application management"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>

        </div>
    </div>
</div>

{% include features.html %}
{% include pricing.html %}
{% include features-3.html %}
{% include testimonials.html %}
