<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Entity List</h2>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12" id="table">
    </div>
  </div>
</div>
