<div class="file-box">
  <div class="file">
    <a href="#">
      <span class="corner"></span>

      <div class="icon">
        <i class="fa fa-file"></i>
      </div>
      <div class="file-name">
        <%= fileName %>
        <br/>
        <small>Added: <%= dateAdded %></small>
      </div>
    </a>
  </div>
</div>
