<div class="file-box">
  <div class="file">
    <a href="<%= fileNameEncoded %>">
      <span class="corner"></span>

      <div class="icon">
        <i class="fa fa-file"></i>
      </div>
      <div class="file-name">
        <%= fileName %>
        <br/>
        <small>Added: <%= dateAdded %></small>
        <small class="pull-right"><a class="file-remove" href="remove/<%= fileNameEncoded %>">Remove</a></small>
      </div>
    </a>
  </div>
</div>
