<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Bar Chart</h5>
    </div>
    <div class="ibox-content">
        <div>
            <canvas id="barChart" height="140"></canvas>
        </div>
    </div>
</div>
