<div class="ibox float-e-margins">
  <div class="ibox-title">
    <span class="label label-info pull-right">Annual</span>
    <h5>Total</h5>
  </div>
  <div class="ibox-content">
    <h1 class="no-margins"><%= total %></h1>
    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
  </div>
</div>
