    <!-- Plugin JavaScript -->
    <script src="{{ "/js/vendor/metisMenu.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/jquery.slimscroll.min.js" | prepend: site.baseurl }}"></script>

    <!-- Flot -->
    <script src="/js/vendor/jquery.flot.js"></script>
    <script src="/js/vendor/jquery.flot.tooltip.min.js"></script>
    <script src="/js/vendor/jquery.flot.spline.min.js"></script>
    <script src="/js/vendor/jquery.flot.resize.js"></script>
    <script src="/js/vendor/jquery.flot.pie.js"></script>
    <script src="/js/vendor/jquery.flot.symbol.js"></script>
    <script src="/js/vendor/curvedLines.js"></script>

    <!-- Peity -->
    <script src="/js/vendor/jquery.peity.min.js"></script>

    <!-- ChartJS-->
    <script src="/js/vendor/Chart.min.js"></script>

    <!-- application -->
    <script src="/js/portal.js"></script>
