<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li id="nav-dashboard">
                <a href="/portal/dashboard"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li id="nav-file-manager">
                <a href="/portal/file-manager"><i class="fa fa-files-o"></i> <span class="nav-label">Documents</span></a>
            </li>
        </ul>

    </div>
</nav>
