<section class="features">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>About Us</h1>
            </div>
        </div>

        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <p>
                The year was 2001, and our founders kicked off their telecom career together by creating a new disruptive industry called Hosted PBX. One provider had great phones. Another had great software. Some worked well across locations, some worked better at a single location. All required a third party to install and service each component separately.
                </p>

                <p>
                In the end, the business customer was mostly frustrated by poor service, products that never quite solved the problem, and solutions that cost far too much money to buy and maintain.
                </p>
            </div>

            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="/img/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <p>
                Though the years the team took on the established telecom industry.  The fight was a good fight and others caught on to the beauty of the model.  Create a happy customer by charging a fair price, focusing on delivering a great customer experience, and building a fantastic product!
                </p>

                <p>
                The original idea behind ERATECycle was to leverage the E-Rate experience gained during those years in the Cloud/Hosted PBX world with a deep understanding of how to shift ineffective service relationships into product relationships.
                </p>

                <p>
                ERATECycle exists to provide instant, highly transparent and much improved guidance to Eligible Entities for managing the E-Rate process.
                </p>
            </div>
        </div>

        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft">
                <h2>So here is the vision:</h2>
                <ul>
                    <li>Instant understanding of existing service</li>
                    <li>Clear and complete planning tools</li>
                    <li>Transparent cycle management</li>
                    <li>Instant and complete filing tools</li>
                </ul>
            </div>
            <div class="col-lg-6 features-text text-right wow fadeInRight">
                <p>
                Our goal is to position each Eligible Entity in control of the E-Rate process.  Remove the mystery behind E-Rate and USAC, and make it simple to successfully manage the entire E-Rate process.
                </p>
                <a href="/register/" class="btn btn-primary">Register Now</a>
            </div>
        </div>
    </div>
</section>

