<section class="gray-section features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Simple To Use E-Rate Tools With No Risk</h1>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-3 features-text wow fadeInLeft">
        <small>ERATECycle</small>
        <h2>Complete Lifecycle Management</h2>
        <p>
          <a class="navy-link" href="/register">Registering</a> for the ERATECycle tool is simple, free and requires no obligation.
          The registration process provides access to:
        </p>
        <ul>
          <li>ERATE Entity Account Access</li>
          <li>The ERATECycle Bill Auditing Service</li>
          <li>FORM 470 creation and filing</li>
          <li>Status monitoring and updates</li>
        </ul>
        <p>
          Many entities leverage consultants to manage the entire ERATE process.
          ERATECycle provides a higher level of process transparency, real time status updates,
          control and complete consistency all at a much lower cost than the traditional
          ERATE consultants charge.
        </p>
      </div>
        <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
          <img src="/img/combined.png" class="img-responsive" alt="dashboard">
        </div>
        <div class="col-lg-3 features-text wow fadeInRight">
          <small>ERATECycle</small>
          <h2>ERATECycle Tools</h2>
          <p>
            Each ERATECycle tool can be leveraged independently or they can be
            purchased as a unit for a bulk annual license fee.  In either case,
            ERATECycle retains, reports and provides the necessary guidance to
            ensure each entity follows the correct ERATE filing procedures.
          </p>
          <p>
            Let ERATECycle add clarity and simplicity to the entire ERATE Process.
            From the FORM 470 to auditing and file retention, ERATECycle provides a
            complete suite of ERATE management tools for eligible entities.
          </p>
        </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>Copyright</strong> ErateCycle, LLC &copy; 2014-2015</p>
      </div>
    </div>
  </div>
</section>
