<section class="features">
    <div class="container">
        <div class="row">

        <div class="row">
            <div class="col-lg-9 col-lg-offset-1 features-text">
                <small>ERATECycle</small>
                <h1>E-Rate Program Compliance</h1>
                <p>
                The E-Rate program is administered by the Universal Service Administrative Company under the direction of the FCC. USAC is responsible for processing the applications for support, confirming eligibility, and reimbursing service providers and eligible schools and libraries for the discounted services. USAC also ensures that the applicants and service providers comply with the E-Rate rules and procedures established by the Commission.
                </p>
                <p>
                It is critical that each entity understand and maintain compliance throughout their involvement with the E-Rate program.  The potential risk of non-compliance, and resulting audits and penalties are significant.  ERATECycle provides tools that make the management of compliance simple and cost effective allowing eligible entities to focus on technology planning and evaluation.
                </p>
                <p>
                In 2014 the E-Rate program took a modernization step by adopting the <a class="navy-link" href="https://www.fcc.gov/document/fcc-continues-e-rate-reboot-meet-nations-digital-learning-needs" target="_blank">Second E-Rate Modernization Order</a>, which sets out to maximize options for schools and libraries seeking to purchase high-speed broadband and adjusting the E-Rate spending cap. Changes like these make the management of E-Rate more challenging than ever before.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-lg-offset-1 features-text">
                <h2>Key Compliance Factors for Applicants Include:</h2>
                <ul>
                    <li>Write, and seek and receive approval of technology plans (Priority 2 services only)</li>
                    <li>File an FCC Form 470 and indicate whether there is, or will be, an RFP</li>
                    <li>Evaluate bids and select the winning service provider</li>
                    <li>File an FCC Form 471 and the Item 21 attachment during the application window</li>
                    <li>Respond promptly and completely to inquires from PIA</li>
                    <li>File an FCC Form 486 after ensuring that the technology plan was approved (if applicable), you are CIPA compliant (if applicable), and services have started</li>
                    <li>Select invoice method</li>
                    <li>Document your compliance with FCC rules on an on‐going basis</li>
                    <li>Retain documentation for at least five years from last date of service delivery</li>
                </ul>

                Following these steps can help avoid any unnecessary audits and penalties.  Additionally each entity is responsible for:
                <ul>
                    <li>Open Competition</li>
                    <li>Managing a fair and open process</li>
                    <li>Avoiding conflicts of interest</li>
                    <li>Follow all rules – FCC and state/local</li>
                    <li>AND, once all of this has been correctly managed, each entity must retain all related information including:</li>
                    <li>All records related to the application for, receipt, purchase, and delivery of discounted services</li>
                    <li>Copies of bids</li>
                    <li>Correspondence with applicants regarding bidding process</li>
                    <li>Signed contracts</li>
                    <li>Proof of delivery of the service</li>
                    <li>Documentation of any service down time</li>
                    <li>Logs of maintenance performed</li>
                    <li>Invoices</li>
                </ul>

                <p>
                ERATECycle is here to help.  Simple access to simple tools that help create technology plans, manage the bidding process, evaluate bids, file for reimbursement AND comply with retention requirements.
                </p>
            </div>

        </div>
    </div>
</section>
