<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>PREPARE</h2>
            <p>Leverage simple tools to obtain your BIN, create a Technology Plan, and create and file an ERATE FORM 470 with ERATECycle.</p>
            <p><a class="navy-link" href="/erate-form-470" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Request</h2>
            <p>Get your E-RATE 470 completed and posted so your entity can begin receiving 471’s</p>
            <p><a class="navy-link" href="/erate-form-471" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Evaluate &amp; Select</h2>
            <p>Create simple and objective evaluation criteria to help quickly choose the winning E-RATE provider</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Service &amp; Refunds</h2>
            <p>Receive and audit all bills to insure compliancy and funding accuracy.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Reduce Consultant Expense,<br/> <span class="navy"> gain transparency, speed decisions</span> </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-comments-o features-icon"></i>
                <h2>Simple</h2>
                <p>The E-RATE process can seem complicated. Eratecycle simplifies the process into a few key steps.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-lightbulb-o features-icon"></i>
                <h2>Clear</h2>
                <p>Each step is clearly defined, published and updated.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="/img/front-insert.png" alt="The complete ERATE funding cycle tool - ERATECycle" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-bolt features-icon"></i>
                <h2>Fast</h2>
                <p>Transparency and automated updates keep decision cycles fast and accurate.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>Acurate</h2>
                <p>Keep all historic records online and backed up. Making filing for next year’s E-RATE cycle simple, fast and accurate.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>A Tool To Manage The Whole E-RATE Cycle</h1>
            <p>From 470 to evaluating and archiving provider bills</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>E-Rate Cycle</small>
            <h2>We automate every step</h2>
            <p>Automating every step of the process for schools, districts and libraries. Each entity securely gets access to all filings,
              Gains access to powerful automation, ensures proper process alignment and automatically prepares for future filings. A full
              E-RATE lifecycle management tool
            </p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/img/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>
