<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>ERATECycle</small>
                <h2>Report</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>ERATECycle provides automated and complete reporting for entities.  Understand current services and associated costs.  Simplify the replacement application process.  Automate the work required to claim refunds.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>ERATECycle</small>
                <h2>Archive </h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>USAC requires the maintenance of all records for 10 years post service delivery.  ERATECycle provides archiving and retention services for its customers to ensure all required documentation is available if it is ever needed.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>ERATECycle</small>
                <h2>Control</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Take control of the process and have complete transparency over your application process.  ERATECycle removes the confusion and provides simple and powerful tools to enable each entity to gain comfort with the E-Rate process.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>ERATECycle</small>
                <h2>Secure</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>ERATECycle provides a completely secure environment to insure your information is only accessible by approved individuals.</p>
            </div>
        </div>
    </div>

</section>
