<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Complete Bid Management Guidance for FORM 471 Vendor Selection</h1>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft">
              <small>ERATECycle</small>
              <h2>Automatic Status and Alerting</h2>
              <p>Once an entity files their 470, ERATECycle provides real-time status and alerting for any changes in status.  ERATECycle also provides easy to use tools to help evaluate responses to insure the right vendor is selected and program compliancy is followed.  We insure that the selection criteria is balanced to properly weight the evaluation criteria which might include:</p>
              <ul>
                <li>Price</li>
                <li>Prior Experience</li>
                <li>Qualifications</li>
                <li>Management Capability</li>
                <li>Objectives</li>
                <li>Location</li>
                <li>And more</li>
              </ul>
            </div>
            <div class="col-lg-6 features-text text-right wow fadeInRight">
              <small>ERATECycle</small>
              <h2>Simple and Complete</h2>
              <p>The ERATE bidding process is complex and very confusing.  Millions of dollars in refunds are lost each year due to mismanagement of the entire process.  ERATECycle leverages the experience and perspective of industry leaders to insure ERATECycle delivers a simple and complete experience.  From completing and filing the FORM 470 to evaluating the FORM 471 submissions, and eventually choosing a vendor, ERATECycle makes the complex simple.</p>
            </div>
        </div>
    </div>

</section>
