<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Audit Spend And Create FORM 470</h1>
                <p>Audit, Technology Roadmap, and Form 470</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <small>ERATECycle</small>
                <h2>Complete Lifecycle Management</h2>
                <p>ERATECycle provides a complete ERATE lifecycle management experience.
                  The experience starts with understanding the current environment
                  and building a Technology Road Map to help insure ERATE compliancy.
                  ERATECycle creates consistent technology roadmap templates,
                  posts FORM 470’s to the USAC website, and provides monitoring and
                  updates for every filing.  Everything happens in minutes and is as
                  simple as dragging and dropping the necessary items into the ERATECycle tool.</p>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="/img/request.png" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <small>ERATECycle</small>
                <h2>Maximum your funding</h2>
                <p>Program participants lose out on millions of dollars each year due
                  to problems managing the E-RATE process. ERATECycle helps eligible
                  entities make the most of their E-RATE funding with many helpful tools and features.</p>
            </div>
        </div>
    </div>

</section>
