<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Guidance For Service Installation, Item 21 and Refunds</h1>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft">
              <small>ERATECycle</small>
              <h2>Track E-Rate Funding</h2>
              <p>ERATECycle was created to help E-Rate applicants and service providers track E-RATE funding, meet critical deadlines, and make participating in the E-rate program simple. ERATECycle incorporates all new regulatory guidance and clarifications into new reports, features and tools to assist filing schools and libraries with the process.</p>
              <p>Each year E-RATE eligible entities lose out on millions of dollars because of deficiencies in managing the E-RATE process. ERATECycle helps entities make the most of their eligible E-RATE funding with many simple tools and features.</p>
              <p>Immediate ERATECycle helps eligible entities consistently file fully compliant applications.  All customer data is stored and archived in our highly available, secure and redundant cloud.  Much of the filing information for an entity must be available for potential review for up to 10 years, ERATECycle makes this not only possible, but simple too.</p>
            </div>
            <div class="col-lg-6 features-text text-right wow fadeInRight">
              <small>ERATECycle</small>
              <h2>Document Retenion and Archiving</h2>
              <p>The E-RATE program offers over $3.9 billion to connect schools and libraries to technology annually. Each entity is reliant on adequate bandwidth and access to knowledge resources has grown with the use of digital devices and with changes to education policy. ERATECycle is dedicated to accuracy, professionalism, ethics, reliability, and discernment in helping clients apply and track their E-Rate funding.</p>
              <p>ERATECycle provides document retention and archiving to help keep compliance documentation centralized, organized, and safe. It also includes a complete database of appeals and audit decisions to help you identify and mitigate potential compliance issues.</p>
            </div>
        </div>
    </div>

</section>
