    <!-- jQuery Version 2.1.1 -->
    <script src="{{ "/js/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>

    <!-- pace JavaScript -->
    <script src="{{ "/js/vendor/pace.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/vendor/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/vendor/wow.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/animated-header.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/inspinia.js" | prepend: site.baseurl }}"></script>
