    <!-- jQuery Version 2.1.1 -->
    <script src="{{ "/js/jquery-2.1.1.js" | prepend: site.baseurl }}"></script>

    <!-- pace JavaScript -->
    <script src="{{ "/js/pace.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/inspinia.js" | prepend: site.baseurl }}"></script>
