<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>E-Rate Cycle Pricing</h1>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                      A La Carte
                    </li>
                    <li class="pricing-desc">
                    </li>
                    <li class="pricing-price">
                      Vendor/Bill Analysis - <span>$250</span>
                    </li>
                    <li class="pricing-price">
                      470 Filing - <span>$250</span>
                    </li>
                    <li class="pricing-price">
                      471 Vendor Selection - <span>$250</span>
                    </li>
                    <li class="pricing-price">
                      486 submission tool - <span>$250</span>
                    </li>
                    <li class="pricing-price">
                      Archiving and Analysis - <span>$250</span>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Package
                    </li>
                    <li class="pricing-desc">
                    </li>
                    <li class="pricing-price">
                        <span>$1000</span> / year
                    </li>
                    <li>
                      Vendor/Bill Analysis
                    </li>
                    <li>
                      470 Filing
                    </li>
                    <li>
                      471 Vendor Selection
                    </li>
                    <li>
                      486 submission tool
                    </li>
                    <li>
                      Archiving and Analysis
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
