/* BACKGROUNDS SLIDER
-------------------------------------------------- */

.header-back {
  height: 470px;
  width: 100%;
  &.one {
    background: url('/img/header_one.jpg') 50% 0 no-repeat;
  }
  &.two {
    background: url('/img/header_two.jpg') 50% 0 no-repeat;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
  height: 470px;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel .item {
  height: 470px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 470px;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      transition-property: opacity;
    }
    .active {
      opacity: 1;
      &.left, &.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }
    }
    .next.left, .prev.right {
      opacity: 1;
    }
  }
  .carousel-control {
    z-index: 2;
  }
}

.carousel-control {
  &.left, &.right {
    background: none;
  }
  width: 6%;
}

.carousel-inner {
  .container {
    position: relative;
  }
  overflow: visible;
}

.carousel-caption {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: left;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: left;
  &.blank {
    top: 140px;
  }
}

.carousel-image {
  position: absolute;
  right: 10px;
  top: 150px;
}

.carousel-indicators {
  padding-right: 60px;
}

.carousel-caption {
  h1 {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: -1.5px;
  }
  p {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
  }
}

.caption-link {
  color: #fff;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 400;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
