.blog-header {
    padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #f8f8f8;
    background: url(../img/blog/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.blog-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blog-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.blog-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
