<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Monthly income</h5>
    <div class="ibox-tools">
      <span class="label label-primary">Updated 12.2015</span>
    </div>
  </div>
  <div class="ibox-content no-padding">
    <div>
      <canvas id="flot-chart-content" height="100"></canvas>
    </div>
  </div>

</div>
